.inputs-container {
  width: 100%;
  margin: 0 0 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-slider-horizontal {
  width: 30em;
}

.label-container {
  display: flex;
  justify-content: space-between;
  width: 30em;
}

.label {
  padding: 0 1em 0 1em;
}

.opt-buttons {
  padding: 1em 0 0 0;
  justify-items: center;
}
