<mat-toolbar color="primary">
  <button mat-button>Angular-IIPU</button>
  <!-- START EDITTING BUTTON -->
  <button mat-stroked-button (click)="sidenav.open()">Start editing</button>
  <span class="spacer"></span>
  <!-- UNDO BUTTON -->
  <button
    mat-icon-button
    class="example-icon"
    [disabled]="!undoAvailable"
    aria-label="Undo button"
    (click)="prevEdition()"
  >
    <mat-icon>undo</mat-icon>
  </button>
  <!-- REDO BUTTON -->
  <button
    mat-icon-button
    class="example-icon"
    [disabled]="!redoAvailable"
    aria-label="Redo button"
    (click)="nextEdition()"
  >
    <mat-icon>redo</mat-icon>
  </button>
  <!-- PROFILE BUTTON -->
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Profile button"
    (click)="goToProfile()"
  >
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" color="primary">
    <mat-selection-list #edition [multiple]="false">
      <!-- ALL ROTATION AND ADJUSTMENT LIST -->
      <mat-list-option
        *ngFor="let edition of availableEditions"
        [value]="edition"
        (click)="setEditionType(edition)"
      >
        {{ edition.display_name | titlecase }}
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <form class="form-box card-container" [formGroup]="imagesForm">
      <mat-card class="card">
        <!-- HEADER WITH IMAGE SELECTOR IMAGE, EDITIONS APPLIED AND URL -->
        <mat-card-header class="img-picker">
          <mat-card-title>Edit your image!</mat-card-title>
          <mat-card-subtitle
            >You can choose another image to edit</mat-card-subtitle
          >
          <mat-form-field appearance="fill" class="img-select">
            <mat-label>Choose an image</mat-label>
            <mat-select
              class="select-img"
              formControlName="index"
              (selectionChange)="setValueToImageForm(testImgs[$event.value])"
            >
              <mat-option
                *ngFor="let img of testImgs; index as i"
                [value]="i"
                color="secondary"
              >
                {{ img.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-header>

        <!-- MAIN IMAGE -->
        <img
          #img
          matCardImage
          ixImg
          class="mainImg"
          path="{{ imagesForm.value.path }}"
          sizes="calc(100vw - 128px)"
          [imgixParams]="editionHistory[actualStep]"
        />

        <mat-card-content>
          <!-- COMPONENT DISPLAYING EDITTIONS APPLIED -->
          <app-current-edition
            *ngIf="showEditApplied"
            class="current-edition"
            [parameters]="editionHistory[actualStep]"
            (emitNewParams)="paramsModified($event)"
          ></app-current-edition>
        </mat-card-content>

        <mat-card-actions>
          <!-- COMPONENT WITH INPUTS TO GENERATE THE PARAMETERS -->
          <app-inputs
            *ngIf="editionSelected"
            [parameter]="editionSelected"
            (paramEmitter)="setParam($event)"
          ></app-inputs>
          <!-- BUTTON OPEN NEW TABS TO THE IMAGE'S URL GENERATED WITH ALL PARAMETERS -->
          <button
            mat-stroked-button
            color="primary"
            [disabled]="!urlAndParams"
            (click)="goToImg()"
          >
            Open the edited image
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>
